body{
    margin: 0;
    box-sizing: border-box;
    background-color: #241C15;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.scroll{
    margin-top: 5rem;
}

main{
    max-width: 1200px;
   display: flex;
   margin-top: 4rem;  
}

.main-left{
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    margin: 0.25rem;
}

.main-right{
    max-width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: .5rem;
    margin: 0.25rem;
}

.grid-img{
    width: 100%;
    border-radius: 5px; 
}

.grid-img-large{
    border-radius: 5px;
    width: 100%;
    grid-column: 1/ span 2;
   
    object-fit: cover;
    height: 100%;
}

.calendar-container{
    margin-top: 4rem;
}

.socials{
    align-self: flex-end;
    margin: 3rem 10rem 4rem 0;  
}

.calendar-text span{
    font-weight: bold;
}

@media (max-width:500px){
    main{
        flex-direction: column;
        align-items: center;
    }

    
}